@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


h1{
    text-align: center;
    margin-bottom: 10px;
}
label{
    display: flex;
    /* margin-bottom: 2px; */
    font-weight: bold;
}
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
/* input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
} */
#username,
#password{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#login-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}
#username-error,
#password-error {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}
#checkbox{
    display: flex;
    margin-bottom: 10px;    
}